main {
  height: auto;
  width: auto;
  min-width: 760px;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(16, 50px);
  grid-template-rows: repeat(16, 50px);
  gap: 1px;
  padding: 30px;
  place-content: center;
}


.draw-cell {
  height: 50px;
  width: 50px;
  background-color: grey;
}